@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;

.inventoryList {
  &__container {
    margin: -72px $mobile-margins $padding-incr * 10;
    padding-top: $padding-incr * 3;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(19, 24, 44, 0.1);
    background-color: $white;

    & hr {
      background: $cloud;
    }

    @include tablet {
      margin: -94px $tablet-margins 268px;

      & > div:last-child {
        border: none;
      }
    }

    @include desktop {
      margin: -94px $desktop-margins 161px;
    }
  }

  &__headerContainer {
    display: flex;
    flex-direction: column;
    padding: $padding-incr * 2 $padding-incr * 4 $padding-incr * 6;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: $padding-incr * 2 $padding-incr * 8 $padding-incr * 6;
    }

    @include desktop {
      padding: $padding-incr * 2 $padding-incr * 10 $padding-incr * 6;
    }
  }

  &__headerRight {
    @include tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      gap: 16px;
    }
  }

  &__tableHeaders {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      background-color: rgba(247, 248, 249, 0.7);
      padding: $padding-incr * 3 $padding-incr * 8;
      box-sizing: border-box;
    }

    @include desktop {
      padding-left: $padding-incr * 10;
    }
  }

  &__mainContainer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    gap: 40px;
  }

  &__columnContainer {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__columnHeader {
    font-family: "Titillium-Semi";
    font-size: 12px;
    line-height: 18px;
    color: $slate;
  }

  &__sortArrow {
    @include tablet {
      width: 24px;
    }
  }

  &__header {
    @include headerFont;
    padding: 0;
  }

  &__search {
    margin: $padding-incr * 2 0;
    width: 100%;
    height: 36px;
    border-radius: 20px;
    border: 1px solid $cloud;
    padding-left: $padding-incr * 2;
    background-image: url("../../assets/images/Icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 97%;

    @include tablet {
      width: 185px;
    }

    @include desktop {
      width: 274px;
    }
  }

  &__button {
    width: 100%;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: $instock-indigo;
    color: $white;

    @include tablet {
      width: 128px;
    }

    @include desktop {
      &:hover {
        cursor: pointer;
        background-color: $graphite;
      }
    }
  }

  &__itemContainer {
    @include tablet {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      border-bottom: 1px solid $cloud;
      padding-left: $padding-incr * 8;
      box-sizing: border-box;

      & > hr {
        display: none;
      }
    }

    @include desktop {
      padding-left: $padding-incr * 10;

      &:hover {
        background-color: rgba(46, 102, 229, 0.07);
      }
    }
  }

  &__itemInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    gap: 20px;
    padding: $padding-incr * 4 $padding-incr * 6 calc($padding-incr / 2);

    @include tablet {
      width: 80%;
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      height: 56px;
      padding-left: 0;
      padding-top: $padding-incr * 2;
    }
  }

  &__textHeader {
    font-family: "Titillium-Semi";
    font-size: 11px;
    line-height: 16px;
    color: $slate;

    @include tablet {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Titillium-Semi";
    font-size: 13px;
    line-height: 20px;
    color: $instock-indigo;

    @include desktop {
      & > img {
        transition: 0.15s all ease-in-out;
      }

      &:hover {
        text-decoration: underline;

        & > img {
          padding-left: 4px;
        }
      }
    }
  }

  &__chevRight {
    width: 20px;
  }

  &__text {
    font-size: 13px;
    line-height: 20px;
    color: $instock-black;

    &--inStock {
      font-family: "Titillium-Semi";
      font-size: 11px;
      line-height: 16px;
      background-color: rgba(21, 132, 99, 0.07);
      text-align: center;
      border: none;
      border-radius: 20px;
      color: $green;
      width: fit-content;
      padding: $padding-incr $padding-incr * 2;
    }

    &--outStock {
      @extend .inventoryList__text--inStock;
      background-color: rgba(201, 69, 21, 0.07);
      color: $red;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-incr * 6 $padding-incr * 4;

    @include tablet {
      gap: 24px;
      padding-right: $padding-incr * 8;
      align-items: flex-start;
    }
  }

  &__delete {
    @include desktop {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
