@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;

.header__button {
  background-color: $graphite;
  color: $cloud;
  border-radius: 20px;
  border-style: solid;
  border-color: $graphite;
  width: 10.5rem;
  height: 2.5rem;

  @include tablet {
    width: 8em;
    height: 2.5rem;
  }

  @include desktop {
    width: 10.5rem;
    height: 2.5rem;

    &:hover {
      background-color: $instock-black;
      border-color: $instock-black;
      color: $white;
    }
  }
}

// .header__button:hover {
//   background-color: $instock-black;
//   border-color: $instock-black;
//   color: $white;
// }
// @media (max-width: $mobile-breakpoint) {
//   .header__button {
//     width: 10.5rem;
//     height: 2.5rem;
//   }
// }

// @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
//   .header__button {
//     width: 8em;
//     height: 2.5rem;
//   }
// }

// @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
//   .header__button {
//     width: 10.5rem;
//     height: 2.5rem;
//   }
// }
