@use "../../partials/variables" as *;
@use "../../partials/mixin" as *;
@use "../../partials/typography";

.header__button {
  background-color: $graphite;
  color: $cloud;
  border-radius: 20px;
  border-style: solid;
  border-color: $graphite;
  width: 50%;
  height: 2.5rem;

  @include tablet {
    width: 50%;
    height: 2.5rem;
  }

  @include desktop {
    width: 10.5rem;
    height: 2.5rem;
  }
}
.header__button:hover,
.header__button:active {
  background-color: $instock-black;
  border-color: $instock-black;
  color: $white;
  cursor: pointer;

  @include mobile {
    height: 2.5rem;
  }
}


.header__buttons .selected {
  background: black;
}