@import "../../partials/_typography.scss";
@import "../../partials/_mixin.scss";
@import "../../partials/_variables.scss";

// MOBILE

.header {
  background-color: $graphite;
  margin: 0;
  height: 13rem;
  // width: 100%;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em;
  }

  @include desktop {
    height: 10rem;
    padding: 2em 5em;
  }

  &__left {
    display: flex;
    justify-content: center;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    @include tablet {
      justify-content: flex-end;
      gap: 1em;
    }
  }
}

// TABLET

// @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
//   .header {
//     background-color: $graphite;
//     margin: 0;
//     height: 10rem;
//     width: 100%;

//     &__left {
//       display: flex;
//       justify-content: flex-start;
//     }

//     &__buttons {
//       display: flex;
//       justify-content: flex-end;
//       gap: 1em;
//     }
//   }
// }

// DESKTOP

// @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
//   .header {
//     background-color: $graphite;
//     margin: 0;
//     height: 10rem;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     padding: 2em 5em;

//     &__left {
//       display: flex;
//       justify-content: flex-start;
//     }

//     &__buttons {
//       display: flex;
//       justify-content: flex-end;
//       gap: 1em;
//     }
//   }
// }
