// Colors
$instock-black: #131b2c;
$slate: #5c667e;
$graphite: #232940;
$green: #158463;
$instock-indigo: #2e66e5;
$cloud: #bdc5d5;
$light-grey: #f7f8f9;
$red: #c94515;
$white: #ffffff;

// Breakpoints

$mobile-breakpoint: 479px;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1279px;

// horizontal margins for mobile and tablet

$mobile-margins: 16px;
$tablet-margins: 32px;
$desktop-margins: 130px;

// padding

$padding-incr: 4px;
